Label {
    -fx-padding: 10px 10px 5px 10px;
    -fx-fit-to-height: true;
    -fx-alignment: center;
}

.tab .tab-label {
    -fx-padding: 0px 10px;
}

Tab {
    -fx-alignment: center;
}

HBox {
    -fx-padding: 10px;
    -fx-fit-to-height: true;
    -fx-alignment: center;
    -fx-spacing: 10px;
}

VBox {
    -fx-padding: 0;
    -fx-fit-to-height: true;
    -fx-alignment: center;
}

GridPane {
    -fx-padding: 10px;
    -fx-fit-to-height: true;
    -fx-alignment: center;
    -fx-spacing: 10px;
}

ProgressBar {
    -fx-alignment: center;
    -fx-pref-height: 26px;
}

.root {
    -fx-padding: 0 0 20px 0;
}

.left, .left HBox {
    -fx-alignment: center-left;
}

.date-picker .spinner {
    -fx-opacity: 0;
    -fx-pref-width: 0px;
    -fx-max-width: 0px;
}